*{
    font-family:Arial;
}
body{
    background-image:url("34.jpeg");
    background-position:center;
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    background:rgb(255, 255, 255);
    margin:15vh auto 0 auto;
    width:25rem;
    padding:40px;
    gap:3rem;
    border-radius:3px;
    box-sizing:border-box;
    cursor: pointer;
    border:1px solid black;
}
h1{
    margin:0;
    text-align: center;
    color: #fcf4f4;
    text-decoration: underline;
    font-weight: 900;
    font-size: xx-large;
}
label{
    display: block;
    margin:20px 0;
}
input,textarea{
    width:100%;
    padding:20px;
    box-sizing:border-box;
    outline:none;
    resize:none;
    border:none;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid#D3D3D3;
    border:1px solid black;
}
.textarea{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    outline:none;
    resize:none;
    border:none;
    border-bottom: 1px solid #D3D3D3;
    border:1px solid black;
}
.popup{
    width:400px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding:0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top:-50px;
    border-radius:50%;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size:38px;
    font-weight: 500;
    margin:30px 0 10px;
}
.popup button{
    width:100%;
    margin-top:50px;
    padding:10px 0;
    background:#6fd649;
    color:#fff;
    border:0;
    outline:none;
    font-size:18px;
    border-radius:4px;
    cursor:pointer;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.2);
}